<div class="main">
    <div class="empty-div">

    </div>

    <div class="content">

        <div class="recap">
            <div>
                <h3>{{developers[developerIndex - 1].first_name}} {{developers[developerIndex - 1].last_name}}</h3>
                <p>{{skills[developerIndex - 1].title}},{{developers[developerIndex - 1].category}}, {{developers[developerIndex - 1].city}},
                    {{developers[developerIndex - 1].country}}</p>
                <div class="img-flex">
                    <img src='{{developers[developerIndex - 1].photoUrl}}'>
                    <p>{{developers[developerIndex - 1].bio}}</p>
                </div>
            </div>
        </div>


        <div class="bio">
            <div class="first">
                <h3>Experience</h3>

                <ul>
                    <h4>CEO at Mobility Drive (2009 - present)</h4>

                    <li>
                        * Developed iOS apps which has been installed on over 15 million devices and
                        RocketScience app was #1 in the App Store in December 2007.
                    </li>
                    <li>* Created other games including RPG TrueMasters</li>
                    <li>
                        * Co-author of VisualMadness 360 for Global Retailers, enterprise iPad app that provides
                        supermarkets with a way to direct store layouts and perform visual (photo-based) audits.
                    </li>
                    <li>
                        * Developed a social photo sharing platform/ that transcends language and location through video
                        and
                        photo conversations. Used Unique UX, localization, real-time translation, and web services.
                    </li>
                    <li>Technologies: iOS, C, C++, Objective-C, Parse.com, OpenGL, REST, Web Services, Cheetah3D</li>
                </ul>

                <ul>
                    <h4>Team Lead at MultiMedia LLC (2004 - 2008)</h4>
                    <li>* Developed technical integrations of Right Media Ad Server into the Yahoo! APT platform.</li>
                    <li>* Led numerous end-to-end APT feature implementations from design, development, and testing to
                        production, deployment and monitoring.</li>
                    <li>* Developed numerous internal-facing tools and web services for Yahoo! Sales and Engineering and
                        Search Marketing groups.</li>
                    <li>* Developed several tool prototypes and integrated various group efforts for proiect Panama.
                    </li>
                    <li>* Developed the Right Media back-end display advertising server system.</li>
                    <li>Technologies: Perl, C++</li>
                </ul>
            </div>
            <div class="second">

                <!-- u tablet verziji connect -->
                <div class="contact-options-tablet-version">
                    <app-form></app-form>
                </div>
                <!--kraj u tablet verziji connect -->

                <ul>
                    <h4>{{developers[developerIndex - 1].first_name}} can help you with:</h4>
                    <li><span class="material-symbols-outlined">chevron_right</span>Mobile iOS development</li>
                    <li><span class="material-symbols-outlined">chevron_right</span>CTO management</li>
                    <li><span class="material-symbols-outlined">chevron_right</span>Python development</li>
                    <li><span class="material-symbols-outlined">chevron_right</span>C++ development</li>
                    <li><span class="material-symbols-outlined">chevron_right</span>Parse.com</li>
                    <li><span class="material-symbols-outlined">chevron_right</span>Swift</li>
                    <li><span class="material-symbols-outlined">chevron_right</span>REST API architecture</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="contact-options">
       <app-form></app-form>
    </div>

</div>

<div class="end">
    <hr>
    <div class="end-1-div">
        <ul>
            <h5>Highest Demand Talents</h5>
            <li>iOS Developer</li>
            <li>Front-End Developer</li>
            <li>UX Designer</li>
            <li>UI Designer</li>
            <li>Financial Modeling Consultants</li>
            <li>Interim CFOs</li>
        </ul>
        <ul>
            <h5>About</h5>
            <li>Contact us</li>
            <li>Press Center</li>
            <li>Careers</li>
        </ul>
        <ul>
            <h5>Hire a Top 3% Talent</h5>
            <li><button>Sign Up</button></li>
        </ul>
    </div>

    <div class="end-2-div">
        <span>© Copyright 2010 - 2018 Toptal, LLC</span>
        <div>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            <i class="fa fa-info" aria-hidden="true"></i>
        </div>
    </div>
</div>