


<ng-template #content let-modal  class="modal-content">
    <div class="modal-header">
        <div class="modal-titles">
            <span class="modal-title" id="modal-basic-title">Contact</span>
            <span class="modal-title" id="modal-basic-title">George Griffin</span>
        </div>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="clearForm()"></button>
    </div>
    <div class="modal-body">
        <form action="" [formGroup]="form">
            <div class="wrap-inputs">

                <div class="name">
                    <input formControlName="first_name" type="text" placeholder="Your first name">
                    <span class="material-symbols-outlined">indeterminate_check_box</span>
                    <small *ngIf="first_name?.touched && first_name?.errors?.['required']" class="text-danger">Name is
                        required</small>
                    <small *ngIf="first_name?.touched && first_name?.errors?.['minlength']" class="text-danger">Name is
                        required</small>
                </div>

                <div class="name">
                    <input formControlName="last_name" type="text" placeholder="Your last name">
                    <small *ngIf="last_name?.touched && last_name?.errors?.['required']" class="text-danger">Last name
                        is required</small>
                    <small *ngIf="last_name?.touched && last_name?.errors?.['minlength']" class="text-danger">Last name
                        is required</small>
                </div>

            </div>

            <div class="email-div">
                <input formControlName="email" type="email" placeholder="Email address">
                <small *ngIf="email?.touched && email?.errors?.['required']" class="text-danger">Email is
                    required</small>
            </div>


            <div class="wrap-inputs">
                <textarea name="" id="" cols="32" rows="4" placeholder="Would you like to leave a message"></textarea>
                <div class="not-a-robot-div">
                    <div class="wrap">
                        <div><input type="checkbox"><span>I'm not a robot</span></div>
                        <img src="assets/img/robot=icon.webp" alt="">
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <div class="buttons">
            <button (click)="modal.close('Save click')" (click)="clearForm()">Cancel</button>
            <button id="f" [disabled]="form.invalid" type="submit" (click)="alert()">Contact</button>
        </div>
    </div>
</ng-template>

<button class="btn btn-outline-primary mb-2 me-2" (click)="open(content)">
    <i class="fa fa-users" aria-hidden="true"></i>
    <span>Connect</span>
</button>