
<div class="main">
    <form action="">
        <div class="label-arrow" (click)="toggle()"><label for="">Developer type:</label><span class="material-symbols-outlined">{{isOpened ? 'expand_less' : 'expand_more'}}</span></div>
        <ul *ngIf="isOpened">
            <li *ngFor="let i of specialisations"><input type="checkbox">{{i.title}}</li>
        </ul>
       
    </form>
    <form action="">
        <label for="">Skills:</label>
        <ul>
            <li *ngFor="let i of skills"><input type="checkbox">{{i.title}}</li>
        </ul>
    </form>
</div>