.row {
    .col-3 {
        width: 27%;
    }

    --bs-gutter-x: 0;
}

@media only screen and (max-width: 1200px) {

    .row {
        .col-3 {
            width: 31%;
        }
    }
}


@media only screen and (max-width: 700px) and (min-width: 500px) {

    .row {
        .col-3 {
            width: 100%;
        }
    }
}